%center
  %h3 Orders
.col-lg-10.col-lg-offset-1.margin_top_20
  
  .col-lg-12
    = form_tag filter_orders_path, method: :post, html: {multipart: :true}, remote: true, authenticity_token: true,  class: "filter_form" do
      .col-lg-3.margin_top_20.no_padding
        = select_tag "status", options_for_select(["All", "pending", "delivered"]), class: "form-control order_select"
    
  
  .col-lg-12.orders_area
    = render "orders/partials/orders_table"
    -# %table.table.table-striped.table-bordered.margin_top_20
    -#   %thead
    -#     %tr
    -#       %th Name
    -#       %th Description
    -#       %th Status
    -#       %th Last updated
    -#   %tbody
    -#     .order_area
    -#       - @orders.each do |order|
    -#         %tr
    -#           %td #{order.name}
    -#           %td #{order.description}
    -#           %td #{order.status}
    -#           %td #{time_ago_in_words(order.updated_at)} ago

:javascript
  window.order_flow.orders.filterOrders();
  window.order_flow.orders.refreshOrders();
  window.order_flow.orders.changeStatus();
