%table.table.table-striped.table-bordered.margin_top_20
  %thead
    %tr
      %th Name
      %th Description
      %th Status
      %th Last updated
  %tbody
    - if @orders.limit(1).present?
      - @orders.each do |order|
        %tr
          %td #{order.name}
          %td #{order.description}
          %td 
            = link_to order.status, "javascript:void(0);", title: "Change status", data: {orderId: order.id, confirm: "Are you sure you want to change the status to #{order.reverse_status}?"} , class: "change_status"
          %td #{time_ago_in_words(order.updated_at)} ago
    
    - else
      %tr
        %td No orders found
        %td 
        %td 
        %td 
